@import "../../vendor/materialize/sass/components/color-variables";
@import "../../vendor/materialize/sass/components/variables";

$white-color: color("shades", "white");

@import url("../../vendor/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css");

html {
  color: $primary-color;
  background: $white-color url(/assets/img/covers/cover-bg.png) 0 0 repeat;

  h1, h2, h3 {
    color: $primary-color-dark;
  }

  h4, h5, h6 {
    color: $primary-color-light;
  }

  .container {
    width: 95%;
  }

  a:hover, a:focus {
    outline: none;
  }

  i[class*="fa-"] {
    color: $primary-color-light;
  }

  .error-message {
    color: $error-color;
    margin-bottom: 1em;
  }

  .card {
    padding: 1rem 1.3rem 1.7rem 1.3rem;

    .card-title ~ form {
      margin-top: 2em;

      .row {
        margin-bottom: 0;
      }

      .input-field i {
        font-size: 1.6rem;
        margin-top: 5px;
      }
    }
  }
}
