{% extends 'base.html.twig' %}
{% block title %}Рассылки{% endblock %}

{% block inner %}
    {{ parent() }}

    <h2>Рассылки</h2>

    <div id="list">
        {% include 'dispatch/_list.html.twig' with {'dispatches': dispatches, 'pagination': pagination} %}
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"
           data-action="{{ path('dispatch_new') }}" href="javascript:;" id="create_entity">
            <i class="material-icons">add</i>
        </a>
    </div>

{% endblock %}
