{% extends 'base.html.twig' %}
{% block title %}Журнал действий{% endblock %}

{% block inner %}
    {{ parent() }}
    <h2>Журнал действий</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Количество email</th>
            <th>Дата создания</th>
            <th>Автор</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="list">
            {% include '_list.html.twig' with {'logs': logs}  %}
        </tbody>
    </table>
    {{ pagination|raw }}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"
           data-action="{{ path('send_list_new') }}" href="#send_list_modal" id="create_entity">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div id="send_list_modal" class="modal">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <div id="modal_content"></div>
    </div>

{% endblock %}
